/* #home {
  background-image: url("../images/BAA15DF1-C734-4785-92A9-66A2DB64B2D7_1_105_c.jpeg");
  height: 100%;
} */
body {
  /* background-color: #dee0df;  */
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 5rem;
}

p,
section {
  margin: 0.5rem;
  padding: 0.5rem;
}
#input{
  display: inline-block;
  background-color: #fff;
  padding-right: 10rem;
  padding-bottom: 5rem;
}

.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
